BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
GOOGLE_SHEET_KEY=1dpPyq8kB4YI0R40O3oRmpWSWrWY-_ZiQphENaAYaz_k
GOOGLE_SERVICE_ACCOUNT_FILE=service_account.json
TIMEZONE=Europe/Warsaw
SERVICE_BOT_URL=https://t.me/serwiswwa_bot
